#board{
    display: grid;
    grid-template-columns: 20vh 20vh 20vh;
    grid-template-rows: 20vh 20vh 20vh;
    cursor: pointer;
    position: relative;
}

body{
    display: flex;
    align-items: center;
    background-color: black;
    flex-direction: column;
}

.tile{
    color: yellow;
    display: flex;
    font-size: 10vh;
    justify-content: center;
    align-items: center;
}
#title{
    color: aqua;
    font-size: 10vh;
}





#Matchesinfo{
    display: flex;
    color: aliceblue;

}
.Winscount{
    display: inline;
}
















#Player-select {
    position: absolute;
    height: 21vh;
    border: 3px solid rgb(238, 238, 34);
    background-color: blue;
    border-radius: 10px;

    z-index: 200;
  }
  
  .Player_select_text{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  #text{
    font-size: 5vmin;
    color: greenyellow;
    text-align: center;
    white-space: nowrap;

  }
  
  .button_part{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
 .select_button{
    width: 49%;
    height: 10vh;
    font-size: 8vh;
  }
  .box-top {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .botton_part{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  





.borderright{
    border-right: 1vh solid  aqua;
}
.borderleft{
    border-left: 1vh solid  aqua;
}
.borderbottom{
    border-bottom: 1vh solid  aqua;;
}
.bordertop{
    border-top: 1vh solid  aqua;
}


.strike{
    position: absolute;
    background-color: red;
}

.strike-row-1{
    width: 100%;
    height: 1vh;
    top: 15%;
}
.strike-row-2{
    width: 100%;
    height: 1vh;
    top: 48%;
}
.strike-row-3{
    width: 100%;
    height: 1vh;
    top: 83%;
}

.strike-col-1{
    height: 100%;
    width: 1vh;
    left: 16%;
}
.strike-col-2{
    height: 100%;
    width: 1vh;
    left: 49%;
}
.strike-col-3{
    height: 100%;
    width: 1vh;
    left: 83%;
}

.strike-diag-1{
    height: 120%;
    width: 1vh;
    left:50%;
    top:-10%;
    transform: rotate(135deg);
}
.strike-diag-2{
    height: 120%;
    width: 1vh;
    left:50%;
    top:-10%;
    transform: rotate(45deg);
}


#game-over-area
{   position:absolute;
    box-sizing: border-box;
    text-align:center;
    padding-bottom: 0px;
    border: 8px indigo solid;
    width: 50%;
    height:50%;
    left:25%;
    top:25%;
    background-color: black;
}

#game-over-text{
    color:greenyellow;
    font-size: 6vh;
    max-height: 60%;
    overflow: hidden;
}
#play-again{
position: absolute;
width: 100%;
height: 40%;
font-size: 3vh;
margin-top:3vh;
top:50%;
right:0%;
border: indigo solid 1vh;
}

.hidden{
    display: none;
}

.visible{
    display:block;
    transition: 1s;
}

.x-hover:hover::after{
    content: "X";
    opacity:var(--opacity);
}

.o-hover:hover::after{
    content:"O";
    opacity: var(--opacity);
}

.X-color{
    color:white;
}
.O-color{
    color:yellow;
}

:root {
    --opacity:0.4;
  }
/* ::after adds text/content  
:hover is condition? */